ul {
    padding: 0;
}
.contactsItem {
    margin-top: 15px;
    display: flex;
    align-items: center

}
.span {
display: inline-block;
    width: 250px;
    margin-right: 5px;
}

.contactsBtn {
    display: inline-block;
    width: 60px;
    background-color: inherit;
    border: none;
}